<!DOCTYPE html>
<html lang="ru">
<head>
    {% extends 'core/base.html' %}
    {% block title %}О нас{% endblock %}
</head>
<body>
    {% block content %}
        <div class="wrapper">
      <div class="Page_Hdiv">
        Похоронное бюро "Харон"
      </div>
      <div class="TextContainer">
        <br /><br />
        Предприятие работает на рынке ритуальных услуг с 2019 года. На
        сегодняшний день оно только начинает свой путь среди специализированных
        предприятий Забайкальского края по вопросам похоронного дела.
        <br /><br />
        Приглашаем к сотрудничеству предприятия всех форм собственности и
        индивидуальных предпринимателей, по вопросам поставки товаров и
        оборудования ритуального характера.
        <br /><br />
        Розничная и оптовая торговля.
        <br /><br />
        Россия, 672038, г. Чита, улица Уличная, д. 1, +7(0000) 00-00-00,
        000-000, e-mail: Charon-chita@mail.ru, site: Charon-chita.ru
        <br /><br />
      </div>
        <img class="AboutUsImg" src="http://l91449n4.beget.tech/Lorem.jpg" />
    </div>
    {% endblock %}
</body>
</html>