<!DOCTYPE html>
<html lang="ru">
<head>
    {% extends 'core/base.html' %}
    {% block title %}Контакты{% endblock %}
</head>
<body>
    {% block content %}
        <div class="wrapper">
      <div class="Page_Hdiv">
        Контакты
      </div>
      <div class="TextContainer">
        <br /><br />
        Адрес: Россия, 672038, г. Чита, улица Уличная, д. 1
        <br /><br />
        т. +7 000 000 0000
        <br /><br />
        т. +7 (0000) 00-00-00, 00-00-00, 000-000
        <br /><br />
        e-mail: Charon-chita@mail.ru, site: Charon-chita.ru
        <br /><br />
        Оптовые поставки: т. 00-00-00, 8 000 000 0000
      </div>
      <div class="push"></div>
    </div>
    {% endblock %}
</body>
</html>