<!DOCTYPE html>
<html lang="ru">
<head>
    {% extends 'core/base.html' %}
    {% block title %}FAQ{% endblock %}
</head>
<body>
    {% block content %}
        <<div class="wrapper">

      <div class="Page_Hdiv">
        Часто задаваемые вопросы
      </div>
      <div class="TextContainer">
        <p class="Question">Можно ли хоронить вместе нерасписанных супругов?</p>
        В соответствии с пунктом 2 статьи 7 Федерального закона от 12.01.1996 №
        8-ФЗ «О погребении и похоронном деле» исполнение волеизъявления умершего
        о погребении его тела (останков) или праха на указанном им месте
        погребения, рядом с ранее умершими гарантируется при наличии на
        указанном месте погребения свободного участка земли или могилы ранее
        умершего близкого родственника либо ранее умершего супруга. В иных
        случаях возможность исполнения волеизъявления умершего о погребении его
        тела (останков) или праха на указанном им месте погребения определяется
        специализированной службой по вопросам похоронного дела с учетом места
        смерти, наличия на указанном им месте погребения свободного участка
        земли, а также с учетом заслуг умершего перед обществом и государством.
        <p class="Question">
          Может ли человек, не являющийся родственником, быть ответственным за
          захоронение?
        </p>
        Согласно п.2.13. Приложения 2 «Правил работы кладбищ и крематориев
        города Москвы порядок их содержания» к Постановлению Правительства
        Москвы «О состоянии и мерах по улучшению похоронного обслуживания в
        городе Москве» от 08.04.2008 г. № 260-ПП перерегистрация захоронения
        (перезаключение договора) на другое лицо возможна только с согласия
        лица, ответственного за захоронение, и рассматривается в каждом
        отдельном случае ГБУ «Ритуал» через администрацию кладбищ. Для
        перерегистрации ответственности с одного лица на другое требуется не
        только согласие ответственного за захоронение, но также родственные
        отношения к захороненным у лица, на которое перерегистрируется
        ответственность.
        <p class="Question">
          Какое расстояние должно быть между могилами в родственном захоронении?
        </p>
        В соответствии с п. 6.7 Положения разрешается производить погребение тел
        (останков) умерших (погибших) на участках в пределах оград родственных
        могил, в семейных (родовых) захоронениях вплотную к ранее погребенному
        без увеличения размеров существующего захоронения до истечения
        кладбищенского периода.
        <br><br><br>
      </div>
    {% endblock %}
</body>
</html>